<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123116736332-ukfmg3pjf4f99jl0oh2fikv45rh232gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123116736332-ukfmg3pjf4f99jl0oh2fikv45rh232gs</string>
	<key>API_KEY</key>
	<string>AIzaSyCPRQUTzhypuepKQnISDRzrE2t1aPKaqpg</string>
	<key>GCM_SENDER_ID</key>
	<string>123116736332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ravenNitc</string>
	<key>PROJECT_ID</key>
	<string>raven-for-nitc</string>
	<key>STORAGE_BUCKET</key>
	<string>raven-for-nitc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123116736332:ios:32cd0dd5105178639249e9</string>
</dict>
</plist>